Repository mkanat/define: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, ruff-check, ruff-format-check, pyright, validate-proposals

prettier:
  name: prettier
  entry: npx prettier --check
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format-check:
  name: ruff format check
  entry: uv run ruff format --check --diff
  language: system

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

validate-proposals:
  name: validate proposals
  entry: uv run python scripts/validate_proposals.py
  language: system

Update some allowed commands in Claude and Cursor.
  .claude/settings.json
  .cursor/cli.json
  scripts/sync_cursor_permissions.py
Due: ruff-check, ruff-format-check, pyright

Change the statement terminator to a period.
  proposals/00016-statement-terminators.md
Due: prettier, validate-proposals

Fix the editor.defaultFormatter for Python to have the right owner name.
  .vscode/settings.json
Due: none

Define Language Proposal 21: Defining Machines
  proposals/00021-defining-machines.md
Due: prettier, validate-proposals

Forbid action definitions in the global name scope.
  proposals/00021-defining-machines.md
Due: prettier, validate-proposals

Define Language Proposal 22: Defining Qualities
  proposals/00022-defining-qualities.md
Due: prettier, validate-proposals

Separate Particle Operation validation from successful state changes
  define/AGENTS.md
  define/compiler/validator/reference_graph/BUILD.bazel
  define/compiler/validator/reference_graph/definition_postorder_validator.py
  define/compiler/validator/reference_graph/particle_operation.py
  define/compiler/validator/reference_graph/particle_operation_validator.py
Due: prettier, ruff-check, ruff-format-check, pyright

Handle invalid Destructor Guarantees during transitive destruction
  define/compiler/validator/reference_graph/particle_tracker.py
  define/compiler/validator/reference_graph/reference_graph_validator_tests/destructor_cascade_test.py
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/.define/deps/local.defcl
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/.define/project/config.defcl
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/child.dfn
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/cleanup.dfn
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/initialize.dfn
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/relay.dfn
  define/testdata/reference_graph/destructor_cascade/invalid_destructor_child_guarantee_during_auto_destruction/test.dfn
Due: ruff-check, ruff-format-check, pyright

Path conditions:
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format-check: any of: \.py$
  pyright: any of: \.py$
  validate-proposals: any of: ^proposals/\d{5}-.*\.md$ and \.(md|markdown|mdown)$
