Repository mkanat/define: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, ruff-check, ruff-format-check, pyright, validate-proposals

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        types_or: [markdown, yaml]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format-check
        name: ruff format check
        entry: uv run ruff format --check --diff
        language: system
        types: [python]

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false

      - id: validate-proposals
        name: validate proposals
        entry: uv run python scripts/validate_proposals.py
        language: system
        types: [markdown]
        files: ^proposals/\d{5}-.*\.md$

Run all CI checks in parallel.
  .github/workflows/ci.yaml
  pyproject.toml
  scripts/run_ci_checks.py
  scripts/run_ci_checks_test.py
  uv.lock
Due: prettier, ruff-check, ruff-format-check, pyright

Allow CI to write to the GitHub Checks API.
  .github/workflows/ci.yaml
Due: prettier

Expand globs run running subprocesses in run_ci_checks.
  scripts/run_ci_checks.py
  scripts/run_ci_checks_test.py
Due: ruff-check, ruff-format-check, pyright

Also output all the lines from the tool when running CI tools.
  scripts/run_ci_checks.py
Due: ruff-check, ruff-format-check, pyright

Publish pytest results in a more detailed fashion, in CI.
  .github/workflows/ci.yaml
  pyproject.toml
  scripts/run_ci_checks.py
  uv.lock
Due: prettier, ruff-check, ruff-format-check, pyright

Use dorny/test-reporter@v2 instead of v1.
  .github/workflows/ci.yaml
Due: prettier

Only report pytest CI results via the detailed action.
  scripts/run_ci_checks.py
  scripts/run_ci_checks_test.py
Due: ruff-check, ruff-format-check, pyright

Make run_ci_checks actually fail if reporting fails.
  AGENTS.md
  scripts/run_ci_checks.py
  scripts/run_ci_checks_test.py
Due: prettier, ruff-check, ruff-format-check, pyright

Clean up the run_ci_checks_test with some minor sytlistic changes.
  scripts/run_ci_checks_test.py
Due: ruff-check, ruff-format-check, pyright

In run_ci_checks_test, assert against the constant error codes, not magic numbers.
  scripts/run_ci_checks_test.py
Due: ruff-check, ruff-format-check, pyright

Cursor hallucinated a reporter type for the pytest results; fix it to be the correct type.
  .github/workflows/ci.yaml
Due: prettier

Add more permissions that dorny/test-reporter needs, and remove unnecessary settings for it.
  .github/workflows/ci.yaml
Due: prettier

Attempt to tell test-reporter to report as a Check instead of as an Actions Summary.
  .github/workflows/ci.yaml
Due: prettier

Define Language Proposal 14: Assigning Qualities
  proposals/00013-creating-dimension-points.md
  proposals/00014-assigning-qualities.md
Due: prettier, validate-proposals

Add a note to the Concepts that forms can overlap.
  spec/concepts.md
Due: prettier

Add a note that constraints and machine triggers are probably the same thing.
  spec/concepts.md
Due: prettier

I realized that triggers and constraints will not quite overlap, because many constraints are time based, like: when this dimension point is assigned this quality.
  spec/concepts.md
Due: prettier

Define Language Proposal 15: Local Name Scope Syntax
  proposals/00015-local-name-scope-syntax.md
Due: prettier, validate-proposals

Add a note that the curly braces must be in specific positions.
  proposals/00015-local-name-scope-syntax.md
Due: prettier, validate-proposals

Define Language Proposal 16: Statement Terminators
  proposals/00016-statement-terminators.md
Due: prettier, validate-proposals

Add a link in the README to the proposals, since that is where all the work is happening right now.
  README.md
Due: prettier

Fix a typo in the README.
  README.md
Due: prettier

Clarify that even single scalars must have brackets if they are repeated fields, in DCL.
  spec/dcl/spec.md
Due: prettier

Check in an incomplete draft of the first proposal for constraints.
  proposals/X-defining-constraints-on-positions.md
Due: prettier

Add a note that constraints may not be self-referential.
  spec/requirements.md
Due: prettier

Also forbid loops of constraints referencing each other.
  spec/requirements.md
Due: prettier

Note that constraints must always be statically provable.
  spec/requirements.md
Due: prettier

Add more detail on the requirements about undecidability, and include some info about what makes solving untractable.
  spec/requirements.md
Due: prettier

A much larger example of a system that transfers money between two accounts and fails a constraint.
  bank_example/bank.def
  bank_example/bank/account.def
  bank_example/bank/nonzero.def
Due: none

Improve syntax highlighting for the new syntax.
  .vscode/extensions/define-lang/syntaxes/define.tmLanguage.json
  bank_example/bank/account.def
Due: none

Add some permission configurations for Claude Code.
  .claude/settings.json
Due: none

Sync the Claude config to the Cursor config, always.
  .cursor/cli.json
  .pre-commit-config.yaml
  scripts/run_ci_checks.py
  scripts/sync_cursor_permissions.py
Due: prettier, ruff-check, ruff-format-check, pyright

Allow grep in agents.
  .claude/settings.json
  .cursor/cli.json
Due: none

Define Language Proposal 17: Moving Dimension Points
  proposals/00017-moving-dimension-points.md
Due: prettier, validate-proposals

Define Language Proposal 18: Modular Constraints
  proposals/00018-modular-constraints.md
  proposals/X-defining-constraints-on-position-qualities.md
Due: prettier, validate-proposals

Add a note that you can't move a dimension point into the position it's already in.
  proposals/00017-moving-dimension-points.md
Due: prettier, validate-proposals

Define Language Proposal 19: Guaranteeing Qualities in Positions
  proposals/00019-guaranteeing-qualities-in-positions.md
  proposals/X-defining-constraints-on-position-qualities.md
Due: prettier, validate-proposals

Define Language Proposal 20: Atomic Creation
  proposals/00020-atomic-creation.md
Due: prettier, validate-proposals

Add a brief explanation of what's happening conceptually when you do an atomic creation.
  proposals/00020-atomic-creation.md
Due: prettier, validate-proposals

Add notes that it is an error to cause two dimension points to occupy the same position.
  proposals/00013-creating-dimension-points.md
  proposals/00017-moving-dimension-points.md
Due: prettier, validate-proposals
